<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p>
        <% @topics.each do |t| %>
          <%= link_to t.name, topic_path(t.id), :class => "btn btn-sm btn-tag" %>&nbsp;
        <% end %>
      </p>
    </div>
  </div>
</div>
