<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>New Record</h3>

      <br><br>

      <%= render 'form', record: @record %>

      <%= link_to 'Back', records_path %>
    </div>
  </div>
</div>
