/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .title-link {
   font-style:italic;
   color:black;
   :hover {
     background-color: white;
     text-decoration: none;
   }
 }

 .btn-tag {
   background-color:#4985c2;
   color:white!important;
   border:1px solid white;
 }

 .btn-white {
   background-color: white;
   color: #0038A8!important;
 }

 .index-list-box {
   border:1px solid grey;
   border-radius:10px;
   padding-bottom:20px;
   background-color: #e4e4e4;
 }

 .index-list-entry {
   border:1px solid grey;
   border-radius:5px;
   padding:3px;
   padding-left:5px;
   background-color: white;
 }

 .list-item-link:hover {
   background-color:white;
   text-decoration: none;
 }

 .title-list {
   list-style-type: none;
   margin-left:0px;
 }

 .title-list-item {
 }

 .badge {
   color: #4985c2;
   background-color: white;
 }

.nav-icon {
  font-size:10em;
}
.nav-icon, .nav-icon-text {

}
.nav-div {
  border:1px solid #bdbdbd;
  border-radius:8%;
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
  color:#3137FD;
  :hover {
    color:#3137FD;
    text-decoration:none;
  }
}
.footer-div {
  height:200px;
  background-color: #001a33;
  border-top:1px solid black;
}
.list-div {
  border:1px solid #bdbdbd;
}
.record-list-div {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  border-left:1px solid #d3d3d3;
  border-right:1px solid #d3d3d3;
  border-bottom:1px solid #d3d3d3;
}
.record-list-li {
  font-size:12pt;
  line-height: 150%;
}
.record-index-nav-icon {
  font-size: 5em;
}
.record-index-nav-div {
  border:1px solid #bdbdbd;
  border-radius:8%;
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
  color:#3137FD;
  :hover {
    color:#3137FD;
    text-decoration:none;
  }
}
